schema/teiHeader.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xrem/rng_html.xsl"?>
  <!-- TODO
  dc:relation (dcTerms:isPartOf, dc:conformsTo...)
  dc:coverage, dc:type, dc:subject (revoir)
  dc:format (non inscrit dans le teiHeader, basé sur extension du fichier ?)
  europeana:dataProvider, etc.
-->
<grammar
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.tei-c.org/ns/1.0"
  xml:lang="fre"
>
  <a:documentation>Consortium CAHIER, teiHeader</a:documentation>
  
  <div xmlns="http://www.w3.org/1999/xhtml">
    <ul class="auteurs">
      <li>[FG] <a onmouseover="this.href='mailto'+'\x3A'+'glorieux'+'\x40'+'algone.net'">Frédéric Glorieux</a></li>
      <li>[VJ] <a onmouseover="this.href='mailto'+'\x3A'+'jolivet'+'\x40'+'algone.net'">Vincent Jolivet</a></li>
    </ul>
    <p>Avec ses partenaires, le consortium CAHIER (CNRS) ouvre un catalogue de notices documentaires pour promouvoir ses corpus de sources XML/TEI. Ce schéma de teiHeader définit les correspondances avec le schéma documenté des notices OAI CAHIER, conforme aux spécifications des principaux moissonneurs (Isidore, Gallica et Europeana).<br/>
      Ce schéma NE définit PAS un teiHeader commun pour les différents projets des membres du consortium CAHIER, mais uniquement un jeu de métadonnées indispensables à la production homogène des notices OAI. Il ne présume pas des besoins spécifiques de chaque projet, mais précise a minima un socle commun de métadonnées descriptives. Il est utile à la création de filtres d’export, favorise la convergence des pratiques d’encodage au sein du consortium.</p>
    <ul>
      <li><a href="teiHeader.rng">Le schéma</a></li>
    </ul>
  </div>

  <div xml:id="exemple">
    <a:documentation>Exemple de &lt;teiHeader> (suggestion non limitative)</a:documentation>
    <a:example href="teiHeader.xml"/>
  </div>

  <!-- MAPPING -->
  <div xml:id="output_mapping">
    <a:documentation>Correspondance TEI vers Dublin Core</a:documentation>
    <div xmlns="http://www.w3.org/1999/xhtml">
      <p>Pour chaque propriété <a href="http://dublincore.org/documents/dces/" target="dc">Dublin Core</a> (en ordre alphabétique) diffusable en <a href="http://www.openarchives.org/OAI/2.0/guidelines.htm" target="oai">OAI</a>, sont indiqués : la définition DC, un chemin XPath dans un document XML/<a href="http://www.tei-c.org/release/doc/tei-p5-doc/fr/html/" target="TEI">TEI</a></p>
      <dl>
        <dt><a href="http://purl.org/dc/terms/contributor" target="dc">dc:contributor</a></dt>
        <dd>
          <q>An entity responsible for making contributions to the resource.</q>
          <br/>Auteur secondaire (préface, postface, etc.). Même règles d’écriture que dc:creator
          <!-- <br/>/TEI/teiHeader/fileDesc/titleStmt/author[@ana='contributor']/@key -->
          <br/>/TEI/teiHeader/fileDesc/titleStmt/editor/@key
        </dd>
        <dt><a href="http://purl.org/dc/terms/creator" target="dc">dc:creator</a></dt>
        <dd>
          <q>An entity primarily responsible for making the resource.</q>
          <br/>Auteur du texte : Nom, Prénom (date-date) NF Z 44-061 – obligatoire, répétable
          <br/>/TEI/teiHeader/fileDesc/titleStmt/author/@key
          <br/>/TEI/teiHeader/fileDesc/titleStmt/principal/@key
        </dd>
        <dt><a href="http://purl.org/dc/terms/date" target="dc">dc:date</a> (xsi:type="dcterms:W3CDTF")</dt>
        <dd>
          <q>A point or period of time associated with an event in the lifecycle of the resource.</q>
          <br/>Date de création du document et non de sa déclinaison éditoriale (première édition imprimée, date du fichier TEI, etc.).
          <br/>/TEI/teiHeader/profileDesc/creation/date/@when
          <br/>/TEI/teiHeader/profileDesc/creation/date/@notBefore
          <br/>/TEI/teiHeader/profileDesc/creation/date/@notAfter
        </dd>
        <dt><a href="http://purl.org/dc/terms/description" target="dc">dc:description</a></dt>
        <dd>
          <q>An account of the resource.</q>
          <br/>Description de la ressource
          <br/>/TEI/teiHeader/fileDesc/noteStmt/note[@type='abstract']
        </dd>
        <dt><a href="http://purl.org/dc/terms/identifier" target="dc">dc:identifier (xsi:type="dcterms:URI")</a></dt>
        <dd>
          <q>An unambiguous reference to the resource within a given context.</q>
          <br/>URI de référence du fichier (du document en texte intégral) – unique, obligatoire.
          <br/>/TEI/teiHeader/fileDesc/publicationStmt/idno
          <!-- NB : doit correspondre à l’URI de référence du fichier TEI et non l’URI du fichier qui a servi de source à ce fichier TEI (cf ambiguïté dans le cas des classiques sciences sociales, cf Bergson, le rire) -->
        </dd>
        <dt><a href="http://purl.org/dc/terms/isPartOf" target="dc">dcterms:isPartOf</a> (xsi:type="dcterms:URI")</dt>
        <dd>
          <q>A related resource in which the described resource is physically or logically included.</q>
          <br/>URI de référence vers la collection – unique, obligatoire si connu
          <!-- URI de référence de la collection électronique et non de la collection imprimée (ex. Annales HSS) -->
          <br/>/TEI/teiHeader/fileDesc/seriesStmt/idno
        </dd>
        <dt><a href="http://purl.org/dc/terms/publisher" target="dc">dc:publisher</a></dt>
        <dd>
          <q>An entity responsible for making the resource available.</q>
          <br/>Ici, l'éditeur de la ressource électronique et non du texte source numérisé.
          <br/>/TEI/teiHeader/fileDesc/publicationStmt/publisher
        </dd>
        <!--
        <dt><a href="http://purl.org/dc/terms/relation" target="dc">dc:relation</a></dt>
        <dd>
          <q>A related resource.</q>
        </dd>
        -->
        <dt><a href="http://purl.org/dc/terms/language" target="dc">dc:language</a> (xsi:type="dcterms:ISO639-2")</dt>
        <dd>
          <q>A language of the resource.</q>
          <br/>Langue principale du document, code de 3 lettres (ISO 639-b2) – unique, obligatoire
          <br/>/TEI/@xml:lang
          <br/>/TEI/teiHeader/profileDesc/langUsage/language/@ident
        </dd>
        <!-- NB : on devrait remplacer dc:rights par dc:license, non ? -->
        <dt><a href="http://purl.org/dc/terms/rights" target="dc">dc:rights</a> (xsi:type="dcterms:URI")</dt>
        <dd>
          <q>Information about rights held in and over the resource.</q>
          <br/>URI de référence vers une licence – obligatoire, unique
          <br/>/TEI/teiHeader/fileDesc/publicationStmt/availability/licence/@target
        </dd>
        <dt><a href="http://purl.org/dc/terms/source" target="dc">dc:source</a></dt>
        <dd>
          <q>A related resource from which the described resource is derived.</q>
          <br/>Citation bibliographique complète pour le document (description de la (des) source(s) numérisée(s))
          <br/>/TEI/teiHeader/fileDesc/sourceDesc/bibl[1]
        </dd>
        <dt><a href="http://purl.org/dc/terms/title" target="dc">dc:title</a></dt>
        <dd>
          <q>A name given to the resource.</q>
          <br/>concat(/TEI/teiHeader/fileDesc/titleStmt/title[not(@type)], '. ' , /TEI/teiHeader/fileDesc/titleStmt/title[@type='sub'])
        </dd>
        <!--
        <dt><a href="http://purl.org/dc/terms/type" target="dc">dc:type</a></dt>
        <dd>
          <q>The nature or genre of the resource.</q>
        </dd>
        -->
      </dl>
      <p>Il est encore nécessaire de travailler l'indexation sujet, et d'établire des listes d'autorité pour pouvoir renseigner les propriétés
        <a href="http://purl.org/dc/terms/subject" target="dc">dc:subject</a>, <a href="http://purl.org/dc/terms/coverage" target="dc">dc:coverage</a> (xsi:type="dcterms:spatial").
      </p>
      <!--
<q>The spatial or temporal topic of the resource, the spatial applicability of the resource, or the jurisdiction under which the resource is relevant.</q>
<br/>Lieu, aligné avec un référentiel géographique

<q>The topic of the resource.</q>
<br/>Un terme d’indexation sujet – optionnel, répétable
        -->
    </div>
  </div>

  <div xml:id="core">
    <a:documentation>teiHeader / weboai</a:documentation>
    
    <define name="teiHeader">
      <element name="teiHeader">
        <a:documentation>En-tête de fichier TEI</a:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p><a:el>teiHeader</a:el> renseigne l’ensemble des métadonnées (informations bibliographiques, légales, techniques, etc.) attachées à une édition.</p>
        </div>
        <ref name="fileDesc"/>
        <ref name="profileDesc"/>
        <optional>
          <ref name="encodingDesc"/>
        </optional>
        <optional>
          <ref name="revisionDesc"/>
        </optional>
      </element>
    </define>
    
    <define name="fileDesc">
      <element name="fileDesc">
        <a:documentation>Description bibliographique complète du fichier</a:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p><a:el>fileDesc</a:el> articule surtout les blocs suivants :</p>
          <ul>
            <li><a href="#el_titleStmt">titleStmt</a> : titre et mentions de responsabilité de l’œuvre ;</li>
            <li><a href="#el_publicationStmt">publicationStmt</a> : informations légales ;</li>
            <li><a href="#el_sourceDesc">sourceDesc</a> : description de la source (imprimée ou manuscrite).</li>
          </ul>
        </div>
        <element name="titleStmt">
          <a:documentation>Titre et mentions de responsabilité de l’œuvre</a:documentation>
          <div xmlns="http://www.w3.org/1999/xhtml">
            <p><a:el>titleStmt</a:el> décrit la ressource électronique (et non la source numérisée, voir <a href="#el_sourceDesc">sourceDesc</a>).<br/>
              Les titres répétables sont interprétés hiérarchiquement.</p>
            <!-- "1) titre de corpus, 2) ouvrage dans le corpus, 3) partie d'ouvrage, etc." -> en principe le titre du corpus est inscrit dans seriesStmt -->
          </div>
          <ref name="titleStmt.cont"/>
        </element>
        <optional>
          <ref name="editionStmt"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
        <ref name="publicationStmt"/>
        <optional>
          <ref name="seriesStmt"/>
        </optional>
        <optional>
          <ref name="notesStmt"/>
        </optional>
        <oneOrMore>
          <ref name="sourceDesc"/>
        </oneOrMore>
      </element>
    </define>
    <define name="titleStmt.cont">
        <ref name="title.group"/>
        <!-- pb déterminisme XSD avec titre traduit et compléments de titre optionnels -->
        <zeroOrMore>
          <ref name="principal.norm"></ref>
        </zeroOrMore>
        <oneOrMore>
          <ref name="author.norm"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="contributor"/>
        </zeroOrMore>
    </define>
    
    <define name="title.group">
      <oneOrMore>
        <element name="title">
          <a:documentation>Titres. Le premier titre est considéré comme le titre principal. Les suivants sont considérés commes des compléments du titre. En cas de traduction, le titre original est à indiquer avec un attribut @xml:lang qui en indique la langue.</a:documentation>
          <ul xmlns="http://www.w3.org/1999/xhtml">
            <li>&lt;<a href="http://purl.org/dc/terms/title" target="dc">dc:title</a>&gt; titre propre et sous-titre (optionnel)</li>
            <!-- 
            <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/200.htm#$a" target="unim">Unimarc, zone 200, $a</a> : titre propre</li>
            <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/200.htm#$e" target="unim">Unimarc, zone 200, $e</a> : complément du titre</li>
            <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/454.htm" target="unim">Unimarc, zone 454, $t</a> : traduit de, titre</li>
            <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/454.htm" target="unim">Unimarc, zone 454, $o</a> : traduit de, sous-titre ou complément de titre</li>
             -->
          </ul>
          <optional>
            <ref name="title.type"/>
          </optional>
          <optional>
            <!-- surtout laisser cela comme ça, où jing s'embrouille -->
            <ref name="lang-att"/>
          </optional>
          <ref name="teiHeader.flow"/>
        </element>
      </oneOrMore>
    </define>
    <define name="title.type">
      <attribute name="type">
        <a:documentation>Type du complément du titre</a:documentation>
        <choice>
          <value>main</value>
          <a:documentation>titre principal</a:documentation>
          <value>sub</value>
          <a:documentation>sous-titre</a:documentation>
          <value>alt</value>
          <a:documentation>titre alternatif</a:documentation>
          <value>short</value>
          <a:documentation>forme abrégée</a:documentation>
          <value>desc</value>
          <a:documentation>paraphrase descriptive de l’œuvre</a:documentation>
          <data type="token"/>
        </choice>
      </attribute>
    </define>
    
    
    <define name="principal.norm">
      <element name="principal">
        <a:documentation>Éditeur scientifique</a:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p>L’éditeur scientifique d’un colloque par ex. (dir. ou .éd.). Ne pas confondre avec l’éditeur critique (voir <a:el>editor</a:el>).</p>
          <p>Ne pas confondre également avec le responsable de l’édition électronique (<code>editionStmt/principal</code>, mention d’édition et non mention de reponsabilité)</p>
          <ul>
            <li>&lt;<a href="http://purl.org/dc/terms/creator" target="dc">dc:creator</a>&gt;<br/></li>
          </ul>
        </div>
        <ref name="key-att"/>
        <optional>
          <ref name="ref-att"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="author.norm">
      <element name="author">
        <a:documentation>Auteur(s) du texte, forme normalisée. Les auteurs secondaires </a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/creator" target="dc">dc:creator</a>&gt;<br/></li>
          <!--
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/200.htm#$f" target="unim">Unimarc, zone 200, $f</a> : première mention de responsabilité</li>
          <li>&lt;<a href="http://purl.org/dc/terms/contributor" target="dc">dc:contributor</a>&gt;</li>
          <li> <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/200.htm#$g" target="unim">Unimarc, zone 200, $g</a> : mention de responsabilité suivante</li>
           -->
        </ul>
        <a:example>
<author key="Baudelaire, Charles (1821-1867)" ref="http://www.idref.fr/026709635">Baudelaire</author>          
        </a:example>
        <ref name="key-att"/>
        <optional>
          <ref name="ref-att"/>
        </optional>
        <optional>
          <!-- ex : ONIX Code List 17  -->
          <attribute name="role">
            <choice>
              <value>translator</value>
              <value>illustrator</value>
              <value>paratext</value>
              <text/>
            </choice>            
          </attribute>
        </optional>
        <!-- TODO, autoriser le texte riche -->
        <text/>
      </element>
    </define>
    <define name="key-att">
      <attribute name="key">
        <a:documentation>Forme normalisée (NF Z 44-061) pour le tri et les traitements : Nom, Prénom (naissance-mort)</a:documentation>
      </attribute>
    </define>
    <define name="ref-att">
      <attribute name="ref">
        <a:documentation>Identification vers un référentiel (URI idRef par ex)</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </define>
    
    <define name="publicationStmt">
      <element name="publicationStmt">
        <a:documentation>Informations relatives à la publication et à la diffusion du fichier XML/TEI</a:documentation>
        <!-- À l'usage, forcer l'ordre est plus que pénible, d'où <interleave> -->
        <interleave>
          <oneOrMore>
            <element name="date">
              <a:documentation>Date de publication du fichier TEI, forme normalisée : AAAA((-MM)?-JJ)?</a:documentation>
              <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>&lt;<a href="http://purl.org/dc/terms/issued" target="dc">dc:issued</a>&gt;, pour la date de publication électronique (uniquement)</li>
                <li>ATTENTION : &lt;<a href="http://purl.org/dc/terms/date" target="dc">dc:date</a>&gt; est renseigné dans <a:el>creation</a:el></li>
              </ul>
              <attribute name="when">
                <ref name="date.type"/>            
              </attribute>
            </element>
          </oneOrMore>
          <element name="idno">
            <a:documentation>URI de référence du fichier, obligatoire</a:documentation>
            <ul xmlns="http://www.w3.org/1999/xhtml">
              <li>&lt;<a href="http://purl.org/dc/terms/identifier" target="dc">dc:identifier</a>&gt;</li>
            </ul>
            <data type="anyURI"/>
          </element>
          <ref name="availability"/>
          <oneOrMore>
            <element name="publisher">
              <a:documentation>L’éditeur. Répétable en cas de coédition.</a:documentation>
              <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>&lt;<a href="http://purl.org/dc/terms/publisher" target="dc">dc:publisher</a>&gt;</li>
              </ul>        
              <text/>
            </element>
          </oneOrMore>
          <!-- NB : conserver cet ordre par publicationStmt.optional peut compléter <publisher> -->
          <ref name="publicationStmt.optional"/>
        </interleave>
      </element>
    </define>
    <define name="availability">
      <element name="availability">
        <a:documentation>Texte de la licence</a:documentation>
        <attribute name="status">
          <value>restricted</value>
        </attribute>
        <element name="licence">
          <a:documentation>URI de référence vers la licence</a:documentation>
          <ul xmlns="http://www.w3.org/1999/xhtml">
            <li>&lt;<a href="http://purl.org/dc/terms/rights" target="dc">dc:rights</a>&gt; (Prévoir ligne courte pour la licence)</li>
          </ul>        
          <attribute name="target">
            <data type="anyURI"/>
          </attribute>
          <choice>
            <oneOrMore>
              <ref name="teiHeader.p"/>
            </oneOrMore>
            <ref name="teiHeader.flow"/>
          </choice>
        </element>
      </element>
    </define>
    
    <define name="profileDesc">
      <element name="profileDesc">
        <a:documentation>Description non-bibliographique du texte (langue, circonstances de production)</a:documentation>
        <!-- required in any order -->
        <interleave>
          <ref name="creation"/>
          <ref name="langUsage"/>
        </interleave>
        <optional>
          <ref name="textClass"/>
        </optional>
      </element>
    </define>
    <define name="creation">
      <element name="creation">
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p>“The date and place of composition are often of particular importance for studies of linguistic variation; since such information cannot be inferred with confidence from the bibliographic description of the copy text, the creation element may be used to provide a consistent location for this information.” (<a href="http://www.tei-c.org/release/doc/tei-p5-doc/fr/html/HD.html#HD4C" target="TEI">TEI P5, Guidelines, principes directeurs</a>)</p>
          <ul>
            <li>&lt;<a href="http://purl.org/dc/terms/date" target="dc">dc:date</a>&gt;</li>
          </ul>
        </div>
        <oneOrMore>
          <ref name="creation.date"/>
        </oneOrMore>
      </element>
    </define>
    <define name="langUsage">
      <element name="langUsage">
        <oneOrMore>
          <element name="language">
            <a:documentation>Langue principale de la ressource. Renseigner l’attribut @ident avec un code ISO d'un moins trois lettres de 3 lettres ISO 639-2 (avec extensions simili ISO si nécessaire), et donner un intitulé textuel de la langue dans le contenu de l'élément</a:documentation>
            <p xmlns="http://www.w3.org/1999/xhtml" class="note">La langue principale de la ressource doit être inscrite sur sa racire /TEI, en valeur de l’attribut @xml:lang.</p>
            <a:example><language ident="la_EU_mod">Latin moderne (XVIe–XVIIIe)</language></a:example>
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>&lt;<a href="http://purl.org/dc/terms/language" target="dc">dc:language</a>&gt;</li>
            </ul>
            <attribute name="ident">
              <text/>
            </attribute>
            <optional>
              <attribute name="usage">
                <a:documentation>Proportion approximative de la langue dans la ressource.</a:documentation>
                <text/>
              </attribute>
            </optional>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="creation.date">
      <element name="date">
        <a:documentation>Date formatée pour les traitements automatisés</a:documentation>
        <optional>
          <attribute name="type"><!-- TODO : on supprime ? -->
            <choice>
              <value>accepted</value>
              <value>available</value>
              <value>copyrighted</value>
              <value>created</value>
              <value>issued</value>
              <value>modified</value>
              <value>submitted</value>
              <value>translated</value>
              <value>valid</value>
            </choice>
          </attribute>
        </optional>
        <choice>
          <group>
            <attribute name="when">
              <ref name="date.type"/>
            </attribute>
          </group>
          <group>
            <attribute name="notBefore">
              <ref name="date.type"/>
            </attribute>
            <attribute name="notAfter">
              <ref name="date.type"/>
            </attribute>
          </group>
          <group>
            <attribute name="notAfter">
              <ref name="date.type"/>
            </attribute>
          </group>
          <group>
            <attribute name="notBefore">
              <ref name="date.type"/>
            </attribute>
          </group>
        </choice>
        <text/>
      </element>
    </define>
  </div><!-- END CORE -->
  
  <div xml:id="optional">
    <a:documentation>teiHeader optionnel</a:documentation>
    <div xmlns="http://www.w3.org/1999/xhtml">
      <p>Le consortium CAHIER vise à la convergence des pratiques d’encodage. Les éléments de schémas qui suivent constituent un guide des bonnes pratiques, que peuvent adopter les membres du consortium en fonction des spécificités de leurs projets éditoriaux.</p>
    </div>
    
    
    <define name="contributor">
      <choice>
        <element name="editor">
          <a:documentation>Auteurs(s) secondaires, forme normalisée (éditeur dans le cas d’une édition de texte)</a:documentation>
          <ul xmlns="http://www.w3.org/1999/xhtml">
            <li>&lt;<a href="http://purl.org/dc/terms/contributor" target="dc">dc:contributor</a>&gt;</li>
          </ul>
          <optional>
            <ref name="key-att"/>
          </optional>
          <optional>
            <ref name="ref-att"/>
          </optional>
          <text/>
        </element>
      </choice>
    </define>
    
    <define name="publicationStmt.optional">
      <optional>
        <element name="address">
          <a:documentation>Adresse postale de l'éditeur de la ressource</a:documentation>
          <oneOrMore>
            <element name="addrLine">
              <text/>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="distributor">
          <a:documentation>À renseigner si différent du "publisher"</a:documentation>
          <text/>
        </element>
      </optional>
    </define>
    
    <!-- NB : comme pour publicationStmt, factorisation fileDesc-sourceDesc pénible
      cf URL / ISSN, mapping dc:isPartOf, impossibilité de typer finerment idno -->
    <define name="seriesStmt">
      <element name="seriesStmt">
        <a:documentation>Informations sur la collection électronique ou imprimée</a:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p><a:el>seriesStmt</a:el> décrit la relation à une collection :</p>
          <ul>
            <li>URI et n° de volume pour le fichier TEI</li>
            <li>ISSN et n° de volume pour le volume numérisé (voir <a:el>sourceDesc</a:el>)</li>
          </ul>
        </div>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/idPartOf" target="dc">dc:isPartOf</a>&gt; relation à un parent (pour le fichier TEI seulement)</li>
        </ul>
        <ref name="series.title"/>
        <optional>
          <ref name="series.idno"/>
        </optional>
        <optional>
          <ref name="series.vol"/>
        </optional>
      </element>
    </define>
    <define name="series.title">
      <element name="title">
        <a:documentation>Titre de la collection</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/410.htm" target="unim">Unimarc, zone 410, $t</a> : appartient à la collection, titre</li>
        </ul>
        <optional>
          <attribute name="ref">
            <a:documentation>Identifiant Sudoc PPN de la notice de collection imprimée</a:documentation>
            <ul xmlns="http://www.w3.org/1999/xhtml">
              <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/410.htm" target="unim">Unimarc, zone 410, $0</a> : appartient à la collection, PPN de la notice de collection</li>
            </ul>
          </attribute>
        </optional>
        <ref name="teiHeader.flow"/>
      </element>
    </define>
    <define name="series.idno">
      <element name="idno">
        <a:documentation>Identifiant de la collection</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/410.htm" target="unim">Unimarc, zone 410, $x</a> : appartient à la collection, ISSN</li>
        </ul>
        <attribute name="type">
          <choice>
            <value>URI</value>
            <a:documentation>pour la collection électronique (fileDesc)</a:documentation>
            <value>ISSN</value>
            <a:documentation>pour la collection imprimée (sourceDesc)</a:documentation>
          </choice>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="series.vol">
      <element name="biblScope">
        <a:documentation>Numéro de volume</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/410.htm#$v" target="unim">Unimarc, zone 410, $v</a> : appartient à la collection, numéro de volume</li>
        </ul>
        <attribute name="type">
          <value>vol</value>
        </attribute>
        <data type="integer"/>
      </element>
    </define>
    
    <define name="notesStmt">
      <element name="notesStmt">
        <a:documentation>Informations complémentaires sur la ressource électronique. Les notes sont obligatoirement typées et permettent d'indiquer :  résumé, liens à des images, des liens à d'autres notices de référence pour la même ressource</a:documentation>
        <a:documentation>Résumé du texte</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/title" target="dc">dc:description</a>&gt;</li>
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/033.htm" target="unim">Unimarc, zone 033</a></li>
          <li>voir aussi <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/001.htm">zone 001 (id ppn)</a></li>
        </ul>
        <a:example>
<notesStmt>
  <note type="abstract">
    <p>Résumé du texte reproduit</p>
  </note>
  <note type="image">
    <graphic rend="thumbnail" url="thumbnail.jpg"/>
    <graphic rend="cover" url="cover.jpg"/>
  </note>
  <note type="ref">
    <ref type="worldcat" n="762566493" target="http://www.worldcat.org/oclc/762566493"/>
  </note>
</notesStmt>
        </a:example>
        <oneOrMore>
          <element name="note">
            <choice>
              <group>
                <attribute name="type">
                  <value>abstract</value>
                </attribute>
                <oneOrMore>
                  <ref name="teiHeader.p"/>
                </oneOrMore>
              </group>
              <group>
                <attribute name="type">
                  <value>image</value>
                </attribute>
                <element name="graphic">
                  <optional>
                    <attribute name="rend">
                      <choice>
                        <value>cover</value>
                        <a:documentation>couverture</a:documentation>
                        <value>thumbnail</value>
                        <a:documentation>vignette</a:documentation>
                        <text/>
                      </choice>
                    </attribute>
                  </optional>
                  <attribute name="url">
                    <data type="anyURI"/>
                  </attribute>
                </element>
              </group>
              <group>
                <attribute name="type">
                  <value>ref</value>
                </attribute>
                <oneOrMore>
                  <element name="ref">
                    <attribute name="type">
                      <choice>
                        <value>ppn</value>
                        <a:documentation>id sudoc</a:documentation>
                        <value>worldcat</value>
                        <a:documentation>id worldcat</a:documentation>
                        <!-- NB : la zone unimarc 34 renseigne le numéro de la notice dans le catalogue WorldCat -->
                      </choice>
                    </attribute>
                    <optional>
                      <attribute name="n"/>
                    </optional>
                    <attribute name="target">
                      <data type="anyURI"/>
                    </attribute>
                  </element>
                </oneOrMore>
              </group>
            </choice>
          </element>
        </oneOrMore>
      </element>
    </define>
    
    <define name="editionStmt">
      <element name="editionStmt">
        <a:documentation>Mentions de responsabilité pour le fichier XML/TEI</a:documentation>
        <a:example>
<editionStmt>
  <edition>Algone</edition>
  <respStmt>
    <name xml:id="FG" ref="glorieux@algone.net">Frédéric Glorieux</name>
    <resp>2012 – Encodage TEI</resp>
  </respStmt>
  <respStmt>
    <name xml:id="VJ" ref="jolivet@algone.net">Vincent Jolivet</name>
    <resp>2012 – Encodage TEI</resp>
  </respStmt>
</editionStmt>
        </a:example>
        <element name="edition">
          <a:documentation>"Décrit les particularités de l’édition d’un texte." (Guidelines) ???</a:documentation>
          <ref name="teiHeader.flow"/>
        </element>
        <zeroOrMore>
          <element name="principal">
            <a:documentation>Responsable de l'édition électronique</a:documentation>
            <ref name="resp.cont"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="funder">
            <a:documentation>Financeur du projet</a:documentation>
            <ref name="teiHeader.flow"/>
          </element>          
        </zeroOrMore>
        <zeroOrMore>
          <ref name="respStmt"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="respStmt">
      <element name="respStmt">
        <a:documentation>Mention de responsabilité</a:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <p>Personne ayant une responsabilité dans l'élaboration de la ressource électronique.<br/>
            Ne pas mettre ici l'auteur ou l'éditeur de l'œuvre originale (<a:el>titleStmt</a:el>), mais uniquement les personnes responsables de la numérisation.</p>  
          <!-- pb de la place de l’email, cf pattern resp.atts : utilisation un peu limite de @ref au regard des guidelines : http://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-att.canonical.html -->        
        </div>
        <interleave>
          <element name="name">
            <a:documentation>Nom de l’intervenant sur le fichier XML/TEI</a:documentation>
            <div xmlns="http://www.w3.org/1999/xhtml">
              <p>L’attribut <a:att>ref</a:att> renseigne le mail de la personne et l’identifie.<br/>
                Inscrire les initiales en valeur de @xml:id (comme cible de liens, par exemple dans la liste des modifications <a:el>change</a:el>).</p>
            </div>
            <ref name="resp.cont"/>
          </element>
          <element name="resp">
            <a:documentation>Date et rôle dans l’établissement de la ressource</a:documentation>
            <ref name="teiHeader.flow"/>
          </element>
        </interleave>
      </element>
    </define>
    <define name="resp.cont">
      <optional>
        <ref name="id-att"/>
      </optional>
      <optional>
        <!-- identification vers un email ET NON un référentiel type idRef, comme pour normalized.author // TODO revoir cette logique avec Fréd. -->
        <!-- NB : Erreur TEI potentielle : @ref n’est pas autorisé dans <principal> qui appelle pourtant le pattern... -->
        <attribute name="ref"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <element name="affiliation">
            <a:documentation>Affilation de l’intervenant</a:documentation>
            <optional>
              <attribute name="ref">
                <data type="anyURI"/>
              </attribute>
            </optional>
            <text/>
          </element>
          <element name="email"><!-- Le format défini dans la RFC 2822 : http://tools.ietf.org/html/rfc2822 -->
            <text/>
          </element>
        </choice>
      </zeroOrMore>
    </define>
    
    <define name="revisionDesc">
      <element name="revisionDesc">
        <a:documentation>Historique des révisions du fichier</a:documentation>
        <oneOrMore>
          <element name="change">
            <a:documentation>Date et nature de la modification</a:documentation>
            <a:example>
<revisionDesc>
  <change when="2012-01-08" who="#FG">Balisage des entités nommées</change>
</revisionDesc>
            </a:example>
            <div xmlns="http://www.w3.org/1999/xhtml">
              <p>L’identifiant du responsable de la modification (<a:att>who</a:att>) doit pointer vers <code>fileDesc/editionStmt/respStmt/name/@xml:id</code></p>
            </div>
            <attribute name="who">
              <a:documentation>Identifiant du responsable de la modification</a:documentation>
            </attribute>
            <attribute name="when">
              <a:documentation>Date de la modification, forme normalisée : AAAA((-MM)?-JJ)?</a:documentation>
              <ref name="date.type"/>
            </attribute>
            <ref name="teiHeader.flow"/>
          </element>
        </oneOrMore>
      </element>
    </define>
        
    <define name="extent">
      <element name="extent">
        <a:documentation>Description quantitative du fichier</a:documentation>
        <choice>
          <oneOrMore>
            <element name="measure">
              <attribute name="unit">
                <a:documentation>Unité de mesure</a:documentation>
                <choice>
                  <value>page</value>
                  <value>paragraph</value>
                  <value>word</value>
                  <value>character</value>
                </choice>
              </attribute>
              <attribute name="quantity">
                <data type="integer"/>
              </attribute>
            </element>
          </oneOrMore>
          <text/>
        </choice>        
      </element>
    </define>
        
    <define name="textClass">
      <element name="textClass">
        <a:documentation>Description du texte par mots-clés</a:documentation>
        <a:example>
<textClass>
  <keywords scheme="http://data.bnf.fr/liste-rameau">
    <term type="subject" key="http://data.bnf.fr/ark:/12148/cb133199588">Langages de balisage</term>
    <term type="subject" key="http://data.bnf.fr/ark:/12148/cb131774360">XML (langage de balisage)</term>
  </keywords>
  <keywords scheme="http://id.loc.gov/authorities/subjects.html">
    <term type="subject" key="http://id.loc.gov/authorities/subjects/sh95002796">Document markup languages</term>
    <term type="subject" key="http://id.loc.gov/authorities/subjects/sh97007825">XML (Document markup language)</term>
  </keywords>
</textClass>          
        </a:example>
        <oneOrMore>
          <ref name="keywords"/>
        </oneOrMore>
      </element>
    </define>
    <define name="keywords">
      <element name="keywords">
        <a:documentation>Groupe de mots-clés sujet issus d’un même thésaurus (taxonomie)</a:documentation>
        <attribute name="scheme">
          <a:documentation>Désigne le thésaurus des mots-clés utilisés (définition locale ou URI)</a:documentation>
          <text/>
        </attribute>
        <oneOrMore>
          <ref name="textClass.term"/>
        </oneOrMore>
      </element>
    </define>
    <define name="textClass.term">
      <element name="term">
        <a:documentation>Mot-clé d’indexation</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/subject" target="dc">dc:subject</a>&gt;</li>
          <li>Unimarc, notamment les zones <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/606.htm" target="unim">606 $a et $3</a>, <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/607.htm">607 $a et $3</a></li>
        </ul>
        <optional>
          <attribute name="type">
            <!-- pas top : reprise des lexiques rameau pour coller à ta logique dans l’exemple. -->
            <choice>
              <value>subject</value>
              <value>person</value>
              <value>work</value>
              <text/>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="key">
            <a:documentation>Numéro de la notice d’autorité</a:documentation>
          </attribute>
        </optional>
        <!-- faut-il du contenu un peu plus riche ? -->
        <text/>
      </element>
    </define>
    
    <define name="encodingDesc">
      <element name="encodingDesc">
        <a:documentation>Documentation technique de l'encodage (relation d'un texte électronique avec sa ou ses sources)</a:documentation>
        <optional>
          <element name="projectDesc">
            <a:documentation>Description scientifique du projet.</a:documentation>
            <ul xmlns="http://www.w3.org/1999/xhtml">
              <li>&lt;<a href="http://purl.org/dc/terms/description" target="dc">dc:description</a>&gt;</li>
            </ul>
            <oneOrMore>
              <ref name="teiHeader.p"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="samplingDecl">
            <a:documentation>Etendue numérisée de la source (pour préciser par ex. les pages de la source non reprises dans le fichier, et pourquoi)</a:documentation>
            <oneOrMore>
              <ref name="teiHeader.p"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="editorialDecl">
            <a:documentation>Corrections apportées au document source.</a:documentation>
            <oneOrMore>
              <ref name="teiHeader.p"/>
            </oneOrMore>
          </element>
        </optional>
        <!-- TODO Documenter cet usage de tagsDecl ; cf apologie métier historien -->
        <optional>
          <element name="tagsDecl">
            <oneOrMore>
              <element name="rendition">
                <ref name="id-att"/>
                <attribute name="scheme">
                  <value>css</value>
                </attribute>
                <text/><!-- la règle css -->
              </element>
            </oneOrMore>
          </element>
        </optional>
      </element>
    </define>
  
  </div><!-- END OPTIONAL -->
  
  
  <div xml:id="bibliographic">
    <a:documentation>notice bibliographique (rétro-numérisation)</a:documentation>
    <div xmlns="http://www.w3.org/1999/xhtml">
      <p>Ce sous-ensemble correspond aux principaux champs de la notice bibliographique du livre source, dans le cas d’une rétro-numérisation<br/>
        L’objectif est de générer cette courte notice grâce à un import MarcXML ou ONIX depuis un OPAC.<br/>
        La table <a href="#input_mapping">ONIX|Unimarc to TEI</a> fait la synthèse des correspondances (<em>mapping</em>).</p>
    </div>
    
    <a:example>
<sourceDesc>
  <bibl>Marc Bloch, <title>Apologie pour l’histoire ou métier d’historien</title>, Cahier des Annales, 3, Librairie Armand Colin, Paris, 2<hi rend="sup">e</hi> édition, 1952, 112 pages. (1<hi rend="sup">ère</hi> éd. 1949).</bibl>
  <biblFull>
    <titleStmt>
      <title>Apologie pour l’histoire ou métier d’historien</title>
      <author>Marc Bloch</author>
    </titleStmt>
    <seriesStmt>
      <title ref="http://www.sudoc.fr/001027468">Cahier des Annales</title>
      <idno type="ISSN">0755-1487</idno>
      <biblScope type="vol">3</biblScope>
    </seriesStmt>
    <publicationStmt>
      <publisher>Librairie Armand Colin</publisher>
      <pubPlace>Paris</pubPlace>
      <date when="1952"/>
    </publicationStmt>
    <extent ana="pp" n="112"/>
    <notesStmt>
      <note type="ref">
        <ref type="ppn" n="010052690" target="http://www.sudoc.fr/010052690"/>
        <ref type="worldcat" n="422040961" target="http://www.worldcat.org/search?q=no%3A422040961"/>
      </note>
    </notesStmt>
  </biblFull>
</sourceDesc>      
    </a:example>
    
    <define name="sourceDesc">
      <element name="sourceDesc">
        <a:documentation>Description de la (des) source(s) numérisée(s)</a:documentation>
        <oneOrMore>
          <ref name="bibl.label"/>
          <optional>
            <ref name="biblFull"/>
          </optional>
        </oneOrMore>
      </element>
    </define>
    
    <define name="bibl.label">
      <element name="bibl">
        <a:documentation>Référence bibliographique peu structurée de l’œuvre numérisée. En texte mêlé ponctuée, avec typographie légère (italique).  Référence utilisée par exemple pour générer les citations à la page</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/source" target="dc">dc:source</a>&gt;</li>
        </ul>
        <optional>
          <element name="abbr">
            <a:documentation>Forme courte de la référence bibliographique, par ex. pour l'inscription répétée de la foliotation.</a:documentation>
            <text/>
          </element>
        </optional>
        <ref name="teiHeader.flow"/>
      </element>
    </define>
    
    <define name="biblFull">
      <!-- pb de déterminisme XSD : Multiple elements with name 'title', with different types, appear in the model group. -->
      <element name="biblFull">
        <a:documentation>Notice bibliographique complète du volume numérisé</a:documentation>
        <element name="titleStmt">
          <a:documentation>Titres et mentions de responsabilité</a:documentation>
          <ref name="titleStmt.cont"/>
          <optional>
            <ref name="ISBN"/>
          </optional>
          <!-- pour bibFull/titleStmt, le modèle est plus simple que pour fileDesc/titleStmt : <ref name="unimarc.200"/> -->
        </element>
        <optional>
          <ref name="editionStmt"/>
        </optional>
        <optional>
          <ref name="biblFull.extent"/>
        </optional>
        <!-- obligatoire -->
        <ref name="biblFull.publicationStmt"/>
        <optional>
          <ref name="seriesStmt"/>
        </optional>
        <optional>
          <ref name="notesStmt"/>
        </optional>
      </element>
    </define>
    <define name="ISBN">
      <element name="idno">
        <a:documentation>ISBN (10 ou 13)</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>ISBN-10 : <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/010.htm#$aISBN10" target="unim">Unimarc, zone 010, $a</a></li>
          <li>ISBN-13 : <a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/010.htm#$AISBN13" target="unim">Unimarc, zone 010, $A</a></li>
        </ul>
        <attribute name="type">
          <value>ISBN</value>
        </attribute>
      </element>
    </define>
    <define name="biblFull.publicationStmt">
      <element name="publicationStmt">
        <a:documentation>Informations relatives à la publication de la source imprimée</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/210.htm" target="unim">Unimarc, zone 210</a> : publication, production, diffusion, etc.</li>
        </ul>
        <interleave>
          <optional>
            <element name="publisher">
              <a:documentation>Nom de l'éditeur</a:documentation>
              <ul xmlns="http://www.w3.org/1999/xhtml">
                <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/210.htm" target="unim">Unimarc, zone 210, $c</a></li>
              </ul>
              <text/>
            </element>
          </optional>
          <optional>
            <element name="pubPlace">
              <a:documentation>Lieu de publication</a:documentation>
              <ul xmlns="http://www.w3.org/1999/xhtml">
                <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/210.htm#$a" target="unim">Unimarc, zone 210, $a</a></li>
              </ul>
              <text/>
            </element>
          </optional>
          <element name="date">
            <a:documentation>Date de publication</a:documentation>
            <ul xmlns="http://www.w3.org/1999/xhtml">
              <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/210.htm#$d" target="unim">Unimarc, zone 210, $d</a></li>
            </ul>
            <attribute name="when">
              <ref name="date.type"/>            
            </attribute>
          </element>
        </interleave>
      </element>
    </define>
    <define name="biblFull.extent">
      <element name="extent">
        <a:documentation>Description matérielle</a:documentation>
        <p xmlns="http://www.w3.org/1999/xhtml" class="note">Texte imprimé :	la nouvelle édition de la norme Z44-050 d'avril 2005 généralise la mention de volume qui s'applique même pour un volume unique.<br/>ex. : 215 ##$a1 vol. (XII-32 p.)$d25 cm</p>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li><a href="http://documentation.abes.fr/sudoc/formats/unmb/zones/215.htm" target="unim">Unimarc, zone 215, $x</a></li>
        </ul>
        <attribute name="ana">
          <value>pp</value>
        </attribute>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
        <text/>
      </element>
    </define>
    
  </div><!-- END BIBLIOGRAPHIC -->
  
  
  <!-- TODO : 2 pattern très génériques... à extraire (->teibonnk.rng) ? -->
  <define name="date.type">
    <data type="string">
      <param name="pattern">([0-9]{4}(-[0-9]{2}(-[0-9]{2})?)?)?</param>
    </data>
  </define>
  
  <define name="teiHeader.p">
    <element name="p">
      <a:documentation>Paragraphe de texte enrichi</a:documentation>
      <ref name="teiHeader.flow"/>
    </element>
  </define>

  <define name="teiHeader.flow">
    <a:documentation>Texte riche contrôlé, par exemple dans un titre</a:documentation>
    <zeroOrMore>
      <choice>
        <text/>
        <element name="author">
          <text/>
        </element>
        <element name="date">
          <text/>
        </element>
        <element name="hi">
          <attribute name="rend">
            <choice>
              <value>sub</value>
              <value>sup</value>
              <value>sc</value>
              <value>i</value>
            </choice>
          </attribute>
          <text/>
        </element>
        <element name="name">
          <text/>
        </element>
        <element name="num">
          <text/>
        </element>
        <element name="publisher">
          <text/>
        </element>
        <element name="ref">
          <attribute name="target"/>
          <text/>
        </element>
        <element name="surname">
          <text/>
        </element>
        <element name="title">
          <text/>
        </element>
      </choice>
    </zeroOrMore>
  </define>

  
  <!-- Ne pas toucher pour que ça marche avec teibook.rng -->
  <define name="id-att" combine="choice">
    <attribute name="xml:id">
      <a:documentation>Identifiant, au moins unique pour le document.</a:documentation>
    </attribute>
  </define>
  <define name="lang-att" combine="choice">
    <attribute name="xml:lang">
      <a:documentation>Code normalisé de langue.</a:documentation>
    </attribute>
  </define>
  
  <start combine="choice">
    <ref name="teiHeader"/>
  </start>
</grammar>
